<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">View Accounts</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">View Expense Categories</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list in receipt_list %}
                    <tr>
                        <td>{{ list.vendor }}</td>
                        <td>{{ list.total }}</td>
                        <td>{{ list.tax }}</td>
                        <td>{{ list.date|date:"m/j/y" }}</td>
                        <td>{{ list.category.name }}</td>
                        <td>{{ list.account.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>

</body>
</html>
